= form_for(problem) do |f|
  - if problem.errors.any?
    #error_explanation
      %h2
        = pluralize(problem.errors.count, "error")
        prohibited this problem from being saved:
      %ul
        - problem.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :section
    = f.select :section_id, options_for_select(Section.all.map{|s| [s.id_and_title]}, :selected => problem.try(:section).try(:id_and_title))
  .field
    = f.label :theme
    = f.select :theme_id, options_for_select(Theme.all.map{|t| [t.id_and_title]}, :selected => problem.try(:theme).try(:id_and_title))
  .field
    = f.label :category
    = f.select :category, options_for_select({"計算問題"=>"1", "証明問題"=>"2", "文章題" => "3"}, problem.try(:category))
  .field
    = f.label :level
    = f.select :level, options_for_select({"★☆☆☆☆"=>"1","★★☆☆☆"=>"2","★★★☆☆"=>"3","★★★★☆"=>"4","★★★★★"=>"5"}, problem.try(:level))
  .field.text_area
    = f.label :content
    = f.text_area :content
  .field
    = f.label :answer
    = f.text_area :answer
  .field
    = f.label :correct_counter
    = f.number_field :correct_counter
  .actions
    = f.submit
