%p #notice = notice

%h1 Problems

%table
  %thead
    %tr
      %td Section 
      %th Theme
      %th Category
      %th Level
      %th Content
      %th Answer
      %th Correct counter
      %th{:colspan => "3"}

  %tbody
    - @problems.each do |problem|
      %tr
        %td
          = problem.section
        %td
          = problem.theme
        %td
          = problem.category
        %td
          = problem.level
        %td
          = raw problem.content
        %td
          = raw problem.answer
        %td
          = problem.correct_counter
        %td
          = link_to 'Show', problem
        %td
          = link_to 'Edit', edit_problem_path(problem)
        %td
          = link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New Problem', new_problem_path
