%p#notice= notice
%p
  %strong Section:
  = @problem.section.id_and_title
%p
  %strong Theme:
  = @problem.theme.id_and_title
%p
  %strong Category:
  = @problem.category
%p
  %strong Level:
  = @problem.level
%p
  %strong Content:
  = raw @problem.content
%p
  %strong Answer:
  = raw @problem.answer
%p
  %strong Correct counter:
  = @problem.correct_counter
= link_to 'Edit', edit_problem_path(@problem)
|
= link_to 'Back', problems_path
